@import '../../styles/variables';

.Forest {
  display: block;
  background-color: $teal;
  justify-content: space-evenly;
  .forest-title {
    color: $navy;
    border-bottom-style: solid;
    border-bottom-color: $navy;
    border-bottom-width: 3px;
  }
}


