@import '../../styles/variables';

.RulesToggle {
  display: block;
  .rules-toggle-btn {
    background-color: $green
  }
}

.btn-outline {
  border-color: $purple;
  color: $purple;
}

.btn-outline:hover {
  color: $green;
}


