$favoriteColor: tan;

$teal: rgb(25, 157, 196);
$navy: rgb(11, 49, 86);
$purple: rgb(118, 108, 132);
$yellow: rgb(236, 206, 154);
$green: rgb(185, 241, 166);
$darkgreen: rgb(128, 215, 164);
$pink: rgb(246, 201, 206);
$darkpink: rgb(202, 139, 210);

