@import '../../styles/variables'; 

.Basket {
  display: block;
  text-align: center;
  background-color: $teal;
  justify-content: space-evenly;
  
  .basket-title {
    color: $navy;
    border-bottom-style: solid;
    border-bottom-color: $navy;
    border-bottom-width: 3px;
  }
}
