@import '../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');


.App {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  text-align: center;

    .mushroom-title {
      font-family: 'Molle', cursive;
      color: $navy;
      text-shadow: 2px 2px 5px $darkpink;
      margin-top: 2rem
    }

    .pick-a-mushroom-btn {
      background-color: $green;
      color: $navy;
      margin-top: 1rem;
      margin-bottom: .5rem
    }

    .pick-a-mushroom-btn:hover {
      background-color: $navy;
      color: $darkpink;
    }

    .forest-basket-container {
      display: flex;
    }
}
