@import '../../styles/variables';

.MushroomCard {
  display: block;
  background-color: $navy;
  border-style: solid;
  border-width: 3px;
  // border-color: $darkpink;
  // border-radius: 10px;
  margin: 1rem;

    img {
      max-height: 250px;
    }
}


.mushroom-name {
  color: $green;
  }

  .mushroom-discription {
  color: $yellow;
  }
