@import '../../styles/variables';

.MushroomCard {
  display: block;
  background-color: $navy;
  border-radius: 25px;
  margin: 1rem;

  .mushroom-name {
    width: auto;
    word-wrap: break-word;
    color: $green;
  }

  .mushroom-discription {
    color: $darkpink;
  }

  img {
    padding-top: 5%;
    max-height: 250px;
  }
}


